@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ringo Media</h1>
    <p>
        This application was developed by <strong>Marco Sameh</strong>.
    </p>
    <p>
        Connect with me on <a href="https://www.linkedin.com/in/marco-sameh-b937041a6/" target="_blank">LinkedIn</a>.
    </p>
   
</div>
